<div class="panel panel-default" style="margin-top: 60px;">
  	<div class="panel-body">
		{{ create_survey_form.errors }}
		<form method="post">
			{% csrf_token %}
			<h2 style="margin-bottom: 20px; font-weight: 700; color: #bbb; text-transform: uppercase; font-size: 17px;">{{ page_label }}{{ survey_id }}</h2>
			{{ form.non_field_errors }}

			<!-- Title, Assignee/Creator -->
			<div class="row form-group">
				<div class="col-md-8">
					<span>{{ create_survey_form.title.errors }}</span>
					{{ create_survey_form.title.label_tag}}
					{{ create_survey_form.title }}
				</div>
				{% if group == 'Manager' %}
				<div class="col-md-4">
					<span>{{ create_survey_form.assignee.errors }}</span>
					{{ create_survey_form.assignee.label_tag }}
					{{ create_survey_form.assignee }}
				</div>
				{% else %}
				<div class="col-md-4">
					<span>{{ create_survey_form.creator.errors }}</span>
					{{ create_survey_form.creator.label_tag }}
					{{ create_survey_form.creator }}
				</div>
				{% endif %}
			</div>

			<!-- Description, Weather/Mapping -->
			<div class="row form-group">
				<div class="col-md-8">
					<span>{{ create_survey_form.description.errors }}</span>
					{{ create_survey_form.description.label_tag }}
					{{ create_survey_form.description }}
				</div>
				{% if show_map_and_weather_button %}
				<div class="col-md-4">
					<a id="map_and_weather_fancybox" href="#map_and_weather" class="fancybox btn btn-primary btn-lg" role="button" style="margin-top: 20px; float:right;">View Map and Weather</a>
				</div>
				{% endif %}
			</div>

			<div style="display: none">
				<div id="map_and_weather">
					<!-- Google Maps Embedded iframe -->
					<iframe width="600" height="450" frameborder="0" style="border:0">
					</iframe>
					<div id="weather"></div>
				</div>
			</div>

			<script>
				var encoded_location = encodeURI("{{ create_survey_form.address.value }}");
				var map_src = "https://www.google.com/maps/embed/v1/place?key=AIzaSyBH0-7vqBjL1-MZtWOOv2PsSDh97vX9lkk&q=" + encoded_location;
				$("iframe").attr("src", map_src);

				$(document).ready(function() {
				  $.simpleWeather({
					location: '{{ create_survey_form.address.value }}',
					woeid: '',
					unit: 'f',
					success: function(weather) {
					  html = '<h2><i class="icon-'+weather.code+'"></i> '+weather.temp+'&deg;'+weather.units.temp+'</h2>';
					  html += '<ul><li>'+weather.city+', '+weather.region+'</li>';
					  html += '<li class="currently">'+weather.currently+'</li>';
					  html += '<li>'+weather.wind.direction+' '+weather.wind.speed+' '+weather.units.speed+'</li></ul>';
				  
					  $("#weather").html(html);
					},
					error: function(error) {
					  $("#weather").html('<p>'+error+'</p>');
					}
				  });
					
					// Initialize fancybox popup
					$("#map_and_weather_fancybox").fancybox();
				});
			</script>

			<!-- Address, Land District, File Number -->
			<div class="row form-group">
				<div class="col-md-4">
					<span>{{ create_survey_form.address.errors }}</span>
					{{ create_survey_form.address.label_tag}}
					{{ create_survey_form.address }}
				</div>
				<div class="col-md-4">
					<span>{{ create_survey_form.land_district.errors }}</span>
					{{ create_survey_form.land_district.label_tag }}
					{{ create_survey_form.land_district }}
				</div>
				<div class="col-md-4">
					<span>{{ create_survey_form.file_number.errors }}</span>
					{{ create_survey_form.file_number.label_tag }}
					{{ create_survey_form.file_number }}
				</div>
			</div>
			
			<!-- A- Plan Title Table -->
			<div class="panel panel-default">
				<div class="panel-heading">A - Plan Title</div>	
				<table class="table table-striped">
					<thead>
						<tr>							
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% include "surveys/forms/survey_form_table/plan_title_table.html"%}
					</tbody>
				</table>
			</div>
			
			<!-- B - Main Body of Plan -->
			<div class="panel panel-default">
				<div class="panel-heading">B - Main Body of Plan</div>	
				<table class="table table-striped">
					<thead>
						<tr>							
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% include "surveys/forms/survey_form_table/main_body_table.html"%}
					</tbody>
				</table>
			</div>

			<!-- C - Scenery -->
			<div class="panel panel-default">
				<div class="panel-heading">C - Scenery</div>	
				<table class="table table-striped">
					<thead>
						<tr>							
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% include "surveys/forms/survey_form_table/scenery_table.html"%}
					</tbody>
				</table>
			</div>

			<!-- D - Deposit Statement -->
			<div class="panel panel-default">
				<div class="panel-heading">D - Deposit Statement</div>	
				<table class="table table-striped">
					<thead>
						<tr>							
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% include "surveys/forms/survey_form_table/deposit_statement_table.html"%}
					</tbody>
				</table>
			</div>

			<!-- E - Integrated Survey Area -->
			<div class="panel panel-default">
				<div class="panel-heading">E - Integrated Survey Area</div>	
				<table class="table table-striped">
					<thead>
						<tr>							
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% include "surveys/forms/survey_form_table/integrated_survey_area_table.html"%}
					</tbody>
				</table>
			</div>

			<!-- F - Miscellaneous -->
			<div class="panel panel-default">
				<div class="panel-heading">F - Miscellaneous</div>	
				<table class="table table-striped">
					<thead>
						<tr>							
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% include "surveys/forms/survey_form_table/miscellaneous_table.html"%}
					</tbody>
				</table>
			</div>

			<!-- G - Electronic Plan -->
			<div class="panel panel-default">
				<div class="panel-heading">G - Electronic Plan</div>	
				<table class="table table-striped">
					<thead>
						<tr>							
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% include "surveys/forms/survey_form_table/electronic_plan_table.html"%}
					</tbody>
				</table>
			</div>
			
			<div style="overflow: hidden;">
				{% if show_create_button %}
				<button class="btn btn-lg btn-primary" type="submit" name="signup" style="float:right; margin-left: 10px;">{{ submit_button_text }}</button>
				{% endif%}

				{% if show_edit_button %}
				<a href="edit/{{ survey_id }}" class="btn btn-primary btn-lg active" role="button" style="float:right; margin-left: 10px;">{{ edit_button_text }}</a>
				{% endif%}
				<a href="cancel" class="btn btn-primary btn-lg active" role="button" style="float:right;">{{ cancel_button_text }}</a>
			</div>
			<input type="hidden" name="creator" value="{{ user_id }}" />
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
</div>
