{% csrf_token %}
<h2 style="margin-bottom: 20px; font-weight: 700; color: #bbb; text-transform: uppercase; font-size: 17px;">{{ page_label }}{{ survey_id }}</h2>
{{ form.non_field_errors }}

<!-- Title, Assignee/Creator -->
<div class="row form-group">
	<div class="col-md-8">
		<span>{{ survey_info_form.title.errors }}</span>
		{{ survey_info_form.title.label_tag}}
		{{ survey_info_form.title }}
	</div>
	{% if group == 'Manager' %}
	<div class="col-md-4">
		<span>{{ survey_info_form.assignee.errors }}</span>
		{{ survey_info_form.assignee.label_tag }}
		{{ survey_info_form.assignee }}
	</div>
	{% else %}
	<div class="col-md-4">
		<span>{{ survey_info_form.creator.errors }}</span>
		{{ survey_info_form.creator.label_tag }}
		{{ survey_info_form.creator }}
	</div>
	{% endif %}
</div>

<!-- Description, Weather/Mapping -->
<div class="row form-group">
	<div class="col-md-8">
		<span>{{ survey_info_form.description.errors }}</span>
		{{ survey_info_form.description.label_tag }}
		{{ survey_info_form.description }}
	</div>
	{% if show_map_and_weather_button %}
	<div class="col-md-4">
		<a id="map_and_weather_fancybox" href="#map_and_weather" class="fancybox btn btn-primary btn-lg" role="button" style="margin-top: 20px; float:right;">View Map and Weather</a>
	</div>
	{% endif %}
</div>

<div style="display: none">
	<div id="map_and_weather">
		<!-- Google Maps Embedded iframe -->
		<iframe width="600" height="450" frameborder="0" style="border:0">
		</iframe>
		<div id="weather"></div>
	</div>
</div>

<script>
	var encoded_location = encodeURI("{{ survey_info_form.address.value }}");
	var map_src = "https://www.google.com/maps/embed/v1/place?key=AIzaSyBH0-7vqBjL1-MZtWOOv2PsSDh97vX9lkk&q=" + encoded_location;
	$("iframe").attr("src", map_src);

	$(document).ready(function() {
	  $.simpleWeather({
		location: '{{ survey_info_form.address.value }}',
		woeid: '',
		unit: 'f',
		success: function(weather) {
		  html = '<h2><i class="icon-'+weather.code+'"></i> '+weather.temp+'&deg;'+weather.units.temp+'</h2>';
		  html += '<ul><li>'+weather.city+', '+weather.region+'</li>';
		  html += '<li class="currently">'+weather.currently+'</li>';
		  html += '<li>'+weather.wind.direction+' '+weather.wind.speed+' '+weather.units.speed+'</li></ul>';
	  
		  $("#weather").html(html);
		},
		error: function(error) {
		  $("#weather").html('<p>'+error+'</p>');
		}
	  });
		
		// Initialize fancybox popup
		$("#map_and_weather_fancybox").fancybox();
	});
</script>

<!-- Address, Land District, File Number -->
<div class="row form-group">
	<div class="col-md-4">
		<span>{{ survey_info_form.address.errors }}</span>
		{{ survey_info_form.address.label_tag}}
		{{ survey_info_form.address }}
	</div>
	<div class="col-md-4">
		<span>{{ survey_info_form.land_district.errors }}</span>
		{{ survey_info_form.land_district.label_tag }}
		{{ survey_info_form.land_district }}
	</div>
	<div class="col-md-4">
		<span>{{ survey_info_form.file_number.errors }}</span>
		{{ survey_info_form.file_number.label_tag }}
		{{ survey_info_form.file_number }}
	</div>
</div>
