{% if survey_requirements_form and not survey_answers_form %}	
	<tr>
		<td>
			{{ survey_requirements_form.deposit_statement_plan_lies_within.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.deposit_statement_plan_lies_within }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.deposit_statement_leave_seven_cm.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.deposit_statement_leave_seven_cm }}
		</td>
	</tr>
{% else %}
	{% if survey_requirements_form.deposit_statement_plan_lies_within.value in "UY"   %}
	<tr {% if survey_answers_form.deposit_statement_plan_lies_within_completed.errors %} class="danger" 
{% elif survey_requirements_form.deposit_statement_plan_lies_within.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.deposit_statement_plan_lies_within_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.deposit_statement_plan_lies_within_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.deposit_statement_leave_seven_cm.value in "UY"   %}
	<tr {% if survey_answers_form.deposit_statement_leave_seven_cm_completed.errors %} class="danger" 
{% elif survey_requirements_form.deposit_statement_leave_seven_cm.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.deposit_statement_leave_seven_cm_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.deposit_statement_leave_seven_cm_completed }}
		</td>
	</tr>
	{% endif %}
{% endif %}	
