{% if survey_requirements_form and not survey_answers_form %}
	<tr>
		<td>
			{{ survey_requirements_form.electronic_plan_plan_image.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.electronic_plan_plan_image }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.electronic_plan_plan_features.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.electronic_plan_plan_features }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.electronic_plan_no_signatures.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.electronic_plan_no_signatures }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.electronic_plan_plan_complies.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.electronic_plan_plan_complies }}
		</td>
	</tr>
{% else %}
	{% if survey_requirements_form.electronic_plan_plan_image.value in "UY"   %}
	<tr>
		<td>
			{{ survey_answers_form.electronic_plan_plan_image_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.electronic_plan_plan_image_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.electronic_plan_plan_features.value in "UY"   %}
	<tr>
		<td>
			{{ survey_answers_form.electronic_plan_plan_features_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.electronic_plan_plan_features_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.electronic_plan_no_signatures.value in "UY"   %}
	<tr>
		<td>
			{{ survey_answers_form.electronic_plan_no_signatures_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.electronic_plan_no_signatures_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.electronic_plan_plan_complies.value in "UY"   %}
	<tr>
		<td>
			{{ survey_answers_form.electronic_plan_plan_complies_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.electronic_plan_plan_complies_completed }}
		</td>
	</tr>
	{% endif %}
{% endif %}