{% if survey_requirements_form and not survey_answers_form %}
	<tr>
		<td>
			{{ survey_requirements_form.integrated_survey_area_grid_bearing.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.integrated_survey_area_grid_bearing }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.integrated_survey_area_control_monuments_tied.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.integrated_survey_area_control_monuments_tied }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.integrated_survey_area_meets_accuracy.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.integrated_survey_area_meets_accuracy }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.integrated_survey_area_control_monuments_shown.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.integrated_survey_area_control_monuments_shown }}
		</td>
	</tr>
{% else %}
	{% if survey_requirements_form.integrated_survey_area_grid_bearing.value in "UY"   %}
	<tr>
		<td>
			{{ survey_answers_form.integrated_survey_area_grid_bearing_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.integrated_survey_area_grid_bearing_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.integrated_survey_area_control_monuments_tied.value in "UY"   %}
	<tr>
		<td>
			{{ survey_answers_form.integrated_survey_area_control_monuments_tied_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.integrated_survey_area_control_monuments_tied_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.integrated_survey_area_meets_accuracy.value in "UY"   %}
	<tr>
		<td>
			{{ survey_answers_form.integrated_survey_area_meets_accuracy_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.integrated_survey_area_meets_accuracy_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.integrated_survey_area_control_monuments_shown.value in "UY"   %}
	<tr>
		<td>
			{{ survey_answers_form.integrated_survey_area_control_monuments_shown_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.integrated_survey_area_control_monuments_shown_completed }}
		</td>
	</tr>
	{% endif %}
{% endif %}