{% if survey_requirements_form and not survey_answers_form %}
	<tr>
		<td>
			{{ survey_requirements_form.main_body_of_plan_apporopriate_designation.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.main_body_of_plan_apporopriate_designation }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.main_body_of_plan_essential_dimensions.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.main_body_of_plan_essential_dimensions }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.main_body_of_plan_gsi_rule3.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.main_body_of_plan_gsi_rule3 }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.main_body_of_plan_boundaries_reestablished.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.main_body_of_plan_boundaries_reestablished }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.main_body_of_plan_sufficient_ties.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.main_body_of_plan_sufficient_ties }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.main_body_of_plan_monumentation.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.main_body_of_plan_monumentation }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.main_body_of_plan_dedicated_road.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.main_body_of_plan_dedicated_road }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.main_body_of_plan_hooked_parcels.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.main_body_of_plan_hooked_parcels }}
		</td>
	</tr>
		<tr>
		<td>
			{{ survey_requirements_form.main_body_of_plan_new_dedicated_road.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.main_body_of_plan_new_dedicated_road }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.main_body_of_plan_no_text_2mm.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.main_body_of_plan_no_text_2mm }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.main_body_of_plan_plotting_scale.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.main_body_of_plan_plotting_scale }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.main_body_of_plan_bold_outline.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.main_body_of_plan_bold_outline }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.main_body_of_plan_existing_rw.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.main_body_of_plan_existing_rw }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.main_body_of_plan_bearing_trees_details.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.main_body_of_plan_bearing_trees_details }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.main_body_of_plan_radius.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.main_body_of_plan_radius }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.main_body_of_plan_railway_plan.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.main_body_of_plan_railway_plan }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.main_body_of_plan_water_body_access.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.main_body_of_plan_water_body_access }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.main_body_of_plan_unsurveyed_land.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.main_body_of_plan_unsurveyed_land }}
		</td>
	</tr>
{% else %}
	{% if survey_requirements_form.main_body_of_plan_apporopriate_designation.value in "UY"   %}
	<tr {% if survey_answers_form.main_body_of_plan_apporopriate_designation_completed.errors %} class="danger" 
{% elif survey_requirements_form.main_body_of_plan_apporopriate_designation.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.main_body_of_plan_apporopriate_designation_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.main_body_of_plan_apporopriate_designation_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.main_body_of_plan_essential_dimensions.value in "UY"   %}
	<tr {% if survey_answers_form.main_body_of_plan_essential_dimensions_completed.errors %} class="danger" 
{% elif survey_requirements_form.main_body_of_plan_essential_dimensions.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.main_body_of_plan_essential_dimensions_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.main_body_of_plan_essential_dimensions_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.main_body_of_plan_gsi_rule3.value in "UY"   %}
	<tr {% if survey_answers_form.main_body_of_plan_gsi_rule3_completed.errors %} class="danger" 
{% elif survey_requirements_form.main_body_of_plan_gsi_rule3.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.main_body_of_plan_gsi_rule3_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.main_body_of_plan_gsi_rule3_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.main_body_of_plan_boundaries_reestablished.value in "UY"   %}
	<tr {% if survey_answers_form.main_body_of_plan_boundaries_reestablished_completed.errors %} class="danger" 
{% elif survey_requirements_form.main_body_of_plan_boundaries_reestablished.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.main_body_of_plan_boundaries_reestablished_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.main_body_of_plan_boundaries_reestablished_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.main_body_of_plan_sufficient_ties.value in "UY"   %}
	<tr {% if survey_answers_form.main_body_of_plan_sufficient_ties_completed.errors %} class="danger" 
{% elif survey_requirements_form.main_body_of_plan_sufficient_ties.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.main_body_of_plan_sufficient_ties_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.main_body_of_plan_sufficient_ties_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.main_body_of_plan_monumentation.value in "UY"   %}
	<tr {% if survey_answers_form.main_body_of_plan_monumentation_completed.errors %} class="danger" 
{% elif survey_requirements_form.main_body_of_plan_monumentation.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.main_body_of_plan_monumentation_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.main_body_of_plan_monumentation_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.main_body_of_plan_dedicated_road.value in "UY"   %}
	<tr {% if survey_answers_form.main_body_of_plan_dedicated_road_completed.errors %} class="danger" 
{% elif survey_requirements_form.main_body_of_plan_dedicated_road.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.main_body_of_plan_dedicated_road_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.main_body_of_plan_dedicated_road_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.main_body_of_plan_hooked_parcels.value in "UY"   %}
	<tr {% if survey_answers_form.main_body_of_plan_hooked_parcels_completed.errors %} class="danger" 
{% elif survey_requirements_form.main_body_of_plan_hooked_parcels.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.main_body_of_plan_hooked_parcels_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.main_body_of_plan_hooked_parcels_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.main_body_of_plan_new_dedicated_road.value in "UY"   %}
	<tr {% if survey_answers_form.main_body_of_plan_new_dedicated_road_completed.errors %} class="danger" 
{% elif survey_requirements_form.main_body_of_plan_new_dedicated_road.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.main_body_of_plan_new_dedicated_road_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.main_body_of_plan_new_dedicated_road_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.main_body_of_plan_no_text_2mm.value in "UY"   %}
	<tr {% if survey_answers_form.main_body_of_plan_no_text_2mm_completed.errors %} class="danger" 
{% elif survey_requirements_form.main_body_of_plan_no_text_2mm.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.main_body_of_plan_no_text_2mm_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.main_body_of_plan_no_text_2mm_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.main_body_of_plan_plotting_scale.value in "UY"   %}
	<tr {% if survey_answers_form.main_body_of_plan_plotting_scale_completed.errors %} class="danger" 
{% elif survey_requirements_form.main_body_of_plan_plotting_scale.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.main_body_of_plan_plotting_scale_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.main_body_of_plan_plotting_scale_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.main_body_of_plan_bold_outline.value in "UY"   %}
	<tr {% if survey_answers_form.main_body_of_plan_bold_outline_completed.errors %} class="danger" 
{% elif survey_requirements_form.main_body_of_plan_bold_outline.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.main_body_of_plan_bold_outline_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.main_body_of_plan_bold_outline_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.main_body_of_plan_existing_rw.value in "UY"   %}
	<tr {% if survey_answers_form.main_body_of_plan_existing_rw_completed.errors %} class="danger" 
{% elif survey_requirements_form.main_body_of_plan_existing_rw.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.main_body_of_plan_existing_rw_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.main_body_of_plan_existing_rw_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.main_body_of_plan_bearing_trees_details.value in "UY"   %}
	<tr {% if survey_answers_form.main_body_of_plan_bearing_trees_details_completed.errors %} class="danger" 
{% elif survey_requirements_form.main_body_of_plan_bearing_trees_details.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.main_body_of_plan_bearing_trees_details_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.main_body_of_plan_bearing_trees_details_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.main_body_of_plan_radius.value in "UY"   %}
	<tr {% if survey_answers_form.main_body_of_plan_radius_completed.errors %} class="danger" 
{% elif survey_requirements_form.main_body_of_plan_radius.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.main_body_of_plan_radius_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.main_body_of_plan_radius_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.main_body_of_plan_railway_plan.value in "UY"   %}
	<tr {% if survey_answers_form.main_body_of_plan_railway_plan_completed.errors %} class="danger" 
{% elif survey_requirements_form.main_body_of_plan_railway_plan.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.main_body_of_plan_railway_plan_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.main_body_of_plan_railway_plan_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.main_body_of_plan_water_body_access.value in "UY"   %}
	<tr {% if survey_answers_form.main_body_of_plan_water_body_access_completed.errors %} class="danger" 
{% elif survey_requirements_form.main_body_of_plan_water_body_access.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.main_body_of_plan_water_body_access_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.main_body_of_plan_water_body_access_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.main_body_of_plan_unsurveyed_land.value in "UY"   %}
	<tr {% if survey_answers_form.main_body_of_plan_unsurveyed_land_completed.errors %} class="danger" 
{% elif survey_requirements_form.main_body_of_plan_unsurveyed_land.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.main_body_of_plan_unsurveyed_land_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.main_body_of_plan_unsurveyed_land_completed }}
		</td>
	</tr>
	{% endif %}
{% endif %}
