{% if survey_requirements_form and not survey_answers_form %}
	<tr>
		<td>
			{{ survey_requirements_form.miscellaneous_spelling_check.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.miscellaneous_spelling_check }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.miscellaneous_standard_plan_size.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.miscellaneous_standard_plan_size }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.miscellaneous_oriented_north.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.miscellaneous_oriented_north }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.miscellaneous_notation.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.miscellaneous_notation }}
		</td>
	</tr>
{% else %}
	{% if survey_requirements_form.miscellaneous_spelling_check.value in "UY"   %}
	<tr>
		<td>
			{{ survey_answers_form.miscellaneous_spelling_check_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.miscellaneous_spelling_check_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.miscellaneous_standard_plan_size.value in "UY"   %}
	<tr>
		<td>
			{{ survey_answers_form.miscellaneous_standard_plan_size_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.miscellaneous_standard_plan_size_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.miscellaneous_oriented_north.value in "UY"   %}
	<tr>
		<td>
			{{ survey_answers_form.miscellaneous_oriented_north_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.miscellaneous_oriented_north_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.miscellaneous_notation.value in "UY"   %}
	<tr>
		<td>
			{{ survey_answers_form.miscellaneous_notation_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.miscellaneous_notation_completed }}
		</td>
	</tr>
	{% endif %}
{% endif %}