{% if survey_requirements_form and not survey_answers_form %}		
	<tr>
		<td>
			{{ survey_requirements_form.scenery_status_adjacent_roads.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.scenery_status_adjacent_roads }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.scenery_parcel_boundaries.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.scenery_parcel_boundaries }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.scenery_description_surrounding_lands.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.scenery_description_surrounding_lands }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.scenery_primary_parcel_designations.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.scenery_primary_parcel_designations }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.scenery_existing_road_names.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.scenery_existing_road_names }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.scenery_roads_trails_seismic_lines.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.scenery_roads_trails_seismic_lines }}
		</td>
	</tr>
	<tr>
		<td>
			{{ survey_requirements_form.scenery_rem_added.label_tag }}
		</td>
		<td>
			{{ survey_requirements_form.scenery_rem_added }}
		</td>
	</tr>
{% else %}
	{% if survey_requirements_form.scenery_status_adjacent_roads.value in "UY"   %}
	<tr {% if survey_answers_form.scenery_status_adjacent_roads_completed.errors %} class="danger" 
{% elif survey_requirements_form.scenery_status_adjacent_roads.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.scenery_status_adjacent_roads_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.scenery_status_adjacent_roads_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.scenery_parcel_boundaries.value in "UY"   %}
	<tr {% if survey_answers_form.scenery_parcel_boundaries_completed.errors %} class="danger" 
{% elif survey_requirements_form.scenery_parcel_boundaries.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.scenery_parcel_boundaries_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.scenery_parcel_boundaries_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.scenery_description_surrounding_lands.value in "UY"   %}
	<tr {% if survey_answers_form.scenery_description_surrounding_lands_completed.errors %} class="danger" 
{% elif survey_requirements_form.scenery_description_surrounding_lands.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.scenery_description_surrounding_lands_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.scenery_description_surrounding_lands_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.scenery_primary_parcel_designations.value in "UY"   %}
	<tr {% if survey_answers_form.scenery_primary_parcel_designations_completed.errors %} class="danger" 
{% elif survey_requirements_form.scenery_primary_parcel_designations.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.scenery_primary_parcel_designations_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.scenery_primary_parcel_designations_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.scenery_existing_road_names.value in "UY"   %}
	<tr {% if survey_answers_form.scenery_existing_road_names_completed.errors %} class="danger" 
{% elif survey_requirements_form.scenery_existing_road_names.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.scenery_existing_road_names_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.scenery_existing_road_names_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.scenery_roads_trails_seismic_lines.value in "UY"   %}
	<tr {% if survey_answers_form.scenery_roads_trails_seismic_lines_completed.errors %} class="danger" 
{% elif survey_requirements_form.scenery_roads_trails_seismic_lines.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.scenery_roads_trails_seismic_lines_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.scenery_roads_trails_seismic_lines_completed }}
		</td>
	</tr>
	{% endif %}
	{% if survey_requirements_form.scenery_rem_added.value in "UY"   %}
	<tr {% if survey_answers_form.scenery_rem_added_completed.errors %} class="danger" 
{% elif survey_requirements_form.scenery_rem_added.value == "Y" %} class="warning" {% endif %}>
		<td>
			{{ survey_answers_form.scenery_rem_added_completed.label_tag }}
		</td>
		<td>
			{{ survey_answers_form.scenery_rem_added_completed }}
		</td>
	</tr>
	{% endif %}
{% endif %}
