{% if passwordreset_form.errors %}
    {{ passwordreset_form.errors }}
{% endif %}

<form method="post">
    {% csrf_token %}
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    <table>
        <tr>
            <td style="padding-left: 5px; padding-right: 5px; padding-top: 5px;">
                {{ passwordreset_form.email.label_tag }}
            </td>
        </tr>
        <tr>
            <td style="padding-left: 5px; padding-right: 5px; padding-bottom: 5px;">
                {{ passwordreset_form.email }}
            </td>
        </tr>
    </table>
    <div style="overflow: hidden;">
        <button class="btn btn-lg btn-primary" type="submit" name="reset" style="float:right;">Send</button>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
</form>