<form method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.new_password1.errors }}</td>
        </tr>
        <tr>
            <td style="padding-left: 5px; padding-right: 5px; padding-top: 5px;">
                {{ form.new_password1.label_tag}}
            </td>
        </tr>
        <tr>
            <td style="padding-left: 5px; padding-right: 5px; padding-bottom: 5px;">
                {{ form.new_password1 }}
            </td>
        </tr>
        <tr>
            <td>{{ form.new_password2.errors }}</td>
        </tr>
        <tr>
            <td style="padding-left: 5px; padding-right: 5px; padding-top: 5px;">
                {{ form.new_password2.label_tag }}
            </td>
        </tr>
        <tr>
            <td style="padding-left: 5px; padding-right: 5px; padding-bottom: 5px;">
                {{ form.new_password2 }}
            </td>
        </tr>
    </table>
    <div style="overflow: hidden;">
        <button class="btn btn-lg btn-primary" type="submit" name="login" style="float:right;">Submit</button>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
</form>