{% extends "base_site.html" %}

{% block content %}
	<div style="padding-bottom: 40px;">
		<h1> Welcome {{ user.username }}
			<a href="logout" class="btn btn-primary btn-lg active" role="button" style="float: right;">Logout</a>
		</h1>
	</div>
	
	{% if group == 'Manager' %}
	<a href="surveys/create" class="btn btn-primary btn-lg active" role="button" style="float: right;">Create Survey</a>
	<form action="surveys/delete" method="post">
		{% csrf_token %}
	{% endif %}
	
	
	<table class="table">
		<thead>
			<tr>
				{% if group == 'Manager' %}
					<th> {{ checkbox }} </th>
				{% endif %}
				
				<th><a style="cursor: move;">Title</a></th>
				<th><a style="cursor: move;">Date</a></th>
				<th><a style="cursor: move;">Status</a></th>

				{% if group == 'Manager' %}
					<th><a style="cursor: move;">Surveyor</a></th>
				{% else %}
					<th><a style="cursor: move;">Creator</a></th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
		{% for survey in surveys %}
			<tr>
				{% if group == 'Manager' %}
					<td>
						<div class="checkbox">
							<input type="checkbox" name="checked_surveys" value="{{ survey.id }}"/> 
						</div>
					</td>
				{% endif %}
				
				<td><a href='surveys/display/{{ survey.id }}'> {{ survey.title }} </a></td>
				<td>{{ survey.date_created }}</td>
			
				{% if survey.completed == 'I' %}
					<td>Incomplete</td>
				{% else %}
					<td>Complete</td>
				{% endif %}

				{% if group == 'Manager' %}
					<td>{{ survey.assignee }}</td>
				{% else %}
					<td>{{ survey.creator }}</td>
				{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>

	
	{% if group == 'Manager' %}
		<input type="submit" value="Delete Survey" name="Delete" class="btn btn-primary btn-lg active" role="button" style="float: right;"/>
	</form>
	{% endif %}

	{% load static %}
	<script src="{% static "lscs/js/jquery.metadata.js" %}"></script>
	<script src="{% static "lscs/js/jquery.tablesorter.min.js" %}"></script>

	<script>
		$(document).ready(function() { 
        	$(".table").tablesorter(); 
    	}); 
	</script>
	
{% endblock %}
