{% extends "base_site.html" %}

{% block content %}
	<div style="padding-bottom: 40px;">
		<h1> Welcome {{ user.username }}
			<a href="logout" class="btn btn-primary btn-lg active" role="button" style="float: right;">Logout</a>
		</h1>
	</div>
	
	{% if group == 'Manager' %}
		<a href="surveys/create" class="btn btn-primary btn-lg active" role="button" style="float: right;">Create Survey</a>
	<form action="surveys/delete" method="post">
		{% csrf_token %}
	{% endif %}
	
	
	<table class="table">
		<thead>
			<tr>
				{% if group == 'Manager' %}
					<th> {{ checkbox }} </th>
				{% endif %}
				
				<th>Title</th>
				<th>Date</th>

				{% if group == 'Manager' %}
					<th>Surveyor</th>
				{% else %}
					<th>Creator</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
		{% for survey in surveys %}
			<tr>
				{% if group == 'Manager' %}
					<td>
						<div class="checkbox">
							<input type="checkbox" name="checked_surveys" value="{{ survey.id }}"/> 
						</div>
					</td>
				{% endif %}
				
				<td><a href='surveys/display/{{ survey.id }}'> {{ survey.title }} </a></td>
				<td>{{ survey.date_created }}</td>
				
				{% if group == 'Manager' %}
					<td>{{ survey.assignee }}</td>
				{% else %}
					<td>{{ survey.creator }}</td>
				{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>

	
	{% if group == 'Manager' %}
		<input type="submit" value="Delete Survey" name="Delete" class="btn btn-primary btn-lg active" role="button" style="float: right;"/>
	</form>
	{% endif %}
	
{% endblock %}
